include LICENSE
include README.md
include requirements.txt
recursive-include examples *
recursive-include docs *
recursive-include src/pypublib *.py *.css *.jpg *.jpeg *.png *.gif *.smil *.xhtml
recursive-include src/pypublib *.html
global-exclude __pycache__

